<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511896142441-1cosctv4nsh49puvdolkn8u3r44u3lih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511896142441-1cosctv4nsh49puvdolkn8u3r44u3lih</string>
	<key>API_KEY</key>
	<string>AIzaSyAzWBGJ5pIFqskJuid1t4_IJ1apIn38x1A</string>
	<key>GCM_SENDER_ID</key>
	<string>511896142441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>razan.FirebaseTest</string>
	<key>PROJECT_ID</key>
	<string>fir-test-d0c6d</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-d0c6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511896142441:ios:7667a568c63ce492</string>
	<key>DATABASE_URL</key>
	<string>https://fir-test-d0c6d.firebaseio.com</string>
</dict>
</plist>